{% extends 'base.html' %}

{% load register_tags %}




{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" align="left">

	<h1 class="page-header">{{section_name}}</h1>
  {% if missing_list %}
  <h3>Warning: Missing Items</h3>
  <ul>
    {% for m in missing_list%}
    <li> {{m}}</li>
    {% endfor %}
  </ul>
  <h3>Are you sure you want to continue?</h3>
  {% else %}
  <h3> Everything looks good! :) </h3>
  {% endif %}

  <form  method="POST">{% csrf_token %}
  <div>
  <button class="btn btn-danger btn-lg" type="Submit">Submit</button>
  </div>
  </form>


<!-- /container -->
{% endblock %}

{% block sidebar %}




   <ul class="nav nav-sidebar">
            <li {% isActive request 'basic_info' %}><a href="{% url 'basic_info' a_obj.a_id %}">Basic Info<span class="sr-only">(current)</span></a></li>
            <li {% isActive request 'details'  %}><a href="{% url 'details' a_obj.a_id %}">Details</a></li>
            <li {% isActive request 'notes_and_comments'  %}><a href="{% url 'notes_and_comments' a_obj.a_id %}">Notes & Comments</a></li>
            <!---<li><a href="#">Medication</a></li> -->       
   </ul>


     <ul class="nav nav-sidebar">
            <li {% isActive request 'summary'  %}><a href="{% url 'summary' a_obj.a_id %}">Summary</a></li>       
   </ul>






{% endblock %}